language: node_js
node_js:
  - "0.11"
  - "0.10"
  - "0.8"
env:
  - GRUNT=0.4.5
  - GRUNT=0.4.4
  - GRUNT=0.4.3
  - GRUNT=0.4.2
  - GRUNT=0.4.1
  - GRUNT=0.4.0
before_script:
  - npm install "grunt@$GRUNT"
